@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #222;
}

/* Mobile Nav Styles */

.c-nav {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.c-nav-main {
    min-height: 90px;
    padding-top: 21px;
    z-index: 1000;
}

.o-container {
    max-width: 95%;

    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
}

.o-flexy {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.c-nav-logo-container {
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 0;
}

.o-flexy-item {
    box-sizing: border-box;
    max-width: 100%;
    min-width: 0%;
}

.c-navigation__logo {
    height: 30px;
    margin: 0 25px 0 0;
    padding: 0;
    width: 152px;
    display: block;
}

.nav-logo {
    height: 30px;
    margin: 0 25px 0 0;
    padding: 0;
    width: 152px;
    display: block;
}

/* Burger menu */

.burger-menu {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 2px;
    background-color: #333;
    margin: 8px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-8px, 4px);
    background-color: lightblue;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background: lightpink;
}